.index {
  background-color: #9fb5ed;
}

.amuse {
  background-color: #d5ddf2;
}
.amuse .dog-pic {
    width: 300px; 
    height: auto;
      }

.inspire {
  background-color: #9cad9a;
}

.profile {
  background-color: #937be8;
}

.superhero {
  background-color: #e0ddeb;
}

.template {
  background-color: #a2bdb6;
}


