.index {
  background-color: #9fb5ed;
}
.index .UNC-pic {
  border: 3px solid black;
  width: 350px;
  height: auto;
  }
.index .title {
  color: #1b226e;
  font-size: 30px
  }
  

.amuse {
  background-color: #d5ddf2;
}
.amuse .dog-pic {
    width: 300px; 
    height: auto;
    filter: grayscale(100%);
    border-radius: 5px;
    }

.inspire {
  background-color: #9cad9a;
}
.inspire .h1-elon {
  font-size: 40px;
  }
.inspire .h2-portrait {
  font-size: 28px;
  color: #46494d; 
  }
.inspire .h2-elon {
  font-size: 28px;
  color: #46494d;
  }

.profile {
  background-color: #937be8;
}
.profile .eggo-pic {
  border: 2px solid white;
  border-radius: 10px; 
  filter: grayscale(30%); 
  width: 300px;
  height: auto;
  }

.superhero {
  background-color: #e0ddeb;
}
.superhero .th {
  font-size: 3vw;
}


.template {
  background-color: #a2bdb6;
}

.search {
  background-color: #AEBCEA;

}

