.index {
  background-color: #9fb5ed;
}
.index .UNC-pic {
  border: 3px solid black;
  width: 30vw;
  height: auto;
  }
.index .title {
  color: #1b226e;
  font-size: 4vw;
  font-weight: bold;
  }
.index .profile {
  color: black;
  }
.index .inspire {
  color: black;
  }
.index .humor {
  color: black;
  }
  

.amuse {
  background-color: #d5ddf2;
}
.amuse .dog-pic {
    width: 20vw; 
    height: auto;
    filter: grayscale(100%);
    border-radius: 10px;
    border: 2px solid gray;
    }
.amuse .laughs-h1 {
    font-size: 3vw;
    color: #060a2e;
    font-weight: bold;
    }
.amuse .office-h2 {
    font-size: 2vw;
    color: #091d40;
    font-style: italic;
    }
.amuse .reddit-h2 {
    font-size: 2vw;
    color: #091d40;
    font-style: italic;
    }
.amuse .dogs-h2 {
    font-size: 2vw;
    color: #091d40;
    font-style: italic;
    }

.inspire {
  background-color: #9cad9a;
}
.inspire .h1-elon {
  font-size: 3vw;
  font-weight: bold;
  }
.inspire .h2-portrait {
  font-size: 2vw;
  color: #46494d; 
  }
.inspire .h2-elon {
  font-size: 2vw;
  color: #46494d;
  }
.inspire .elon-pic {
  width: 20vw;
  height: auto;
  border: 2px solid black;
  }

.profile {
  background-color: #937be8;
}
.profile .eggo-pic {
  border: 2px solid white;
  border-radius: 10px; 
  filter: grayscale(30%); 
  width: 30vw;
  height: auto;
  }
.profile .eggo {
  font-size: 3vw;
  color: #180238;
  font-weight: bold;
  }

.superhero {
  background-color: #e0ddeb;
}
.superhero .super {
  font-size: 4vw;
  font-weight: bold;
  }


.template {
  background-color: #a2bdb6;
}

.search {
  background-color: #AEBCEA;

}

